nav {
  position: fixed;
  width: 100%;
  height: 45px;
  top: 0;

  &::after {
    content: "";
    height: 50px;
    width: 110%;
    left: -20px;
    top: 0;
    position: absolute;
    background: rgba(228, 159, 159, 0.86);
    z-index: -8;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1190px;
    margin: 0 auto;
    height: 45px;

    .logo {
      display: flex;
      align-items: center;

      h3 {
        transform: translate(15px, 2px);
        font-size: 1.5rem;
        font-family: $font-3;
      }
      img {
        height: 26px;
        width: 26px;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    width: 40%;

    @media screen and(max-width: 590px) {
      display: none;
    }

    li {
      img {
        height: 32px;
        width: 32px;
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-items: center;
        height: 100%;
      }

      /* MENU : PLUS to MINUS */
      --plus-menu-width: 30px;
      --plus-menu-height: 6px;
      --transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
      .plus-menu {
        cursor: pointer;
        width: var(--plus-menu-width);
        height: var(--plus-menu-height);
        bottom: 5px;
      }

      .plus-menu::before {
        position: absolute;
        content: "";
        background: #332d2d;
        border-radius: 10px;
        width: var(--plus-menu-width);
        height: var(--plus-menu-height);
        transition: var(--transition);
      }

      .plus-menu::after {
        position: absolute;
        content: "";
        border-radius: 10px;
        width: var(--plus-menu-width);
        height: var(--plus-menu-height);
        background: #332d2d;
        transform: rotate(90deg);
        transition: var(--transition);
      }

      .plus-menu--toggle.plus-menu::before {
        transform: rotate(360deg);
      }

      .plus-menu--toggle.plus-menu::after {
        transform: rotate(540deg);
      }

      .display-menu--toggle {
        display: none;
      }

      .sub-menu {
        ul {
          width: 100%;
          display: block;
          li {
            width: 100%;
            font-size: 1.1rem;
            display: flex;
            span {
              width: 100%;
              display: flex;
            }
          }
        }
        position: absolute;
        width: 10em;
        top: 2.5em;
        //left: 80%;
        border-radius: 0.5em;
        background-color: var(--neutral);
        padding: 0.6em 1.5em;
        box-shadow: 5px 3px 20px -2px rgba(105, 105, 105, 0.5);

        @media screen and(max-width: 1198px) {
          right: 2%;
        }

        .sub-menu-list li {
          margin: 0.4em 0;
        }

        .sub-menu-list img {
          height: 24px;
          display: inline-block;
          margin-right: 0.6em;
          vertical-align: middle;
        }
      }
    }

    /* MENU 2 */
  }
}
